<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment1</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <!-- Header -->
    <header>

        <!-- Logo/Rubrik -->
        <h1 class="logo">Moment 1</h1>

        <!-- Navigeringsmeny -->
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul class="nav-list">
                <li><a href="/" class="nav-links" id="actual-side">Startsida</a></li>
                <li><a href="/add-courses" class="nav-links">Lägg till ny kurs</a></li>
                <li><a href="/about" class="nav-links">Om webbplatsen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Startsida</h2>
        
        <a href="/add-courses" id="add-länk">Lägg till kurser</a>

        <!-- Kurstabell -->
        <table id="course-table">
        <thead>
            <tr>
            <th id="code-header" data-order="desc">Kurskod</th>
            <th id="name-header" data-order="desc">Kursnamn</th>
            <th id="progress-header" data-order="desc">Progression</th>
            <th>Hantera kurs</th>
            </tr>
        </thead>
        <tbody>
            <!-- Lägg till kurser i tabellen från databasen -->
            <% if(locals.courses.length > 0) {%>
                <% locals.courses.forEach((course) => { %>
                        <tr>
                            <td><a href="<%= course.syllabus %>"><%= course.coursecode %></a></td>
                            <td><%= course.coursename %></td>
                            <td><%= course.progression %></td>
                            <td><a href="#">Ändra kurs</a> / <a href="/delete/<%= course.id %>">Radera kurs</a></td>
                        </tr>
                <% }); %>
            <% } %>
        </tbody>
        </table>
    </main>
    <footer>
      <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
      <p>&copy;Copyright Tommy Issa, 2025</p>
    </footer>
</body>
</html>